body{
    display: flex;
    background-image:url(https://media.istockphoto.com/id/1550071750/photo/green-tea-tree-leaves-camellia-sinensis-in-organic-farm-sunlight-fresh-young-tender-bud.jpg?s=612x612&w=0&k=20&c=RC_xD5DY5qPH_hpqeOY1g1pM6bJgGJSssWYjVIvvoLw=);
    background-size: cover;
    background-position: center;
    margin: 0px;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media screen and (max-width:600px) {
    
.container{
    background-color:rgba(0, 0, 0, 0.359);
    width: 300px;
    height:200px;
    border-radius:50px;
}
}
.heading{
    text-align: center;
    color: rgb(132, 30, 210);
}
form{
    text-align: center;
    color: rgba(0, 0, 0, 0.621);
}
button{
    background-color:rgb(255, 213, 0);
    border: 1px;
    margin: 2px;
    padding: 1px;
    width: 100px;
    height: 40px;
    border-radius:30px;
}


